<div class="container">
  <div class="movie-information">
    <img src="{{movie.image}}"/>
    <p>Title: {{movie.title}}</p>
    <p>Director: {{movie.director}}</p>
    <p>Description: {{movie.description}}</p>
    <p>Actors: {{movie.stars}}</p>
    <p>Showtimes: {{movie.showtimes}}</p>
  </div>
</div>
