<div class="movie-card">
  <div>
    <img src="{{movie.image}}"/>
    <p>{{movie.title}}</p>
    <p>{{movie.director}}</p>
    <p>{{movie.description}}</p>
    <p>{{movie.stars}}</p>
    <p>{{movie.showtimes}}</p>
  </div>
</div>
